* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #1e1e1e;
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at 95% 5%, rgba(109, 94, 234, 1) 5%, rgba(55, 47, 118, 1) 15%, rgba(0, 0, 0, 1) 30%, transparent), 
  radial-gradient(circle at 5% 15%, rgba(109, 94, 234, 1) 5%, rgba(55, 47, 118, 1) 15%, rgba(0, 0, 0, 1) 30%);
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.divider {
  background: var(--gradient-linear-primary, linear-gradient(273deg, #FF4060 0%, #FF81C5 52.08%, #6D5EEA 100%));
  width: 1345px;
  height: 1px;
  margin-top: 5rem;
}

@media screen and (max-width: 1050px) {
  .divider {
    width: 960px;
  } 
}

@media screen and (max-width: 800px) {
  .divider {
    width: 100%;
  } 
}

@media screen and (max-width: 550px) {
  .divider {
    width: 100%;
  } 
}