.nft__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.nft__footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nft__footer-foot {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 13px;
    margin-left: 10px;
    padding-bottom: 5px;
}

.nft__footer-copyright {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin: 5px auto 20px;
}